
*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
/*
table,
th,
td {
  border: 1px solid black;
  width: 400px;
  text-align: center;
}
*/
.bloque1 {
  background: #68cb8a;
  background-image: url(/recursos/img/fondo1.jpg);
  background-size: cover;
  background-position: inherit;
  height: 100px;
  width: 100vw;
}

/*
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.exo-1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-size: 4vw;
  font-style: normal;
  color: #003987;
  text-align: center;
  text-shadow: #f8fec2 2px 2px;
  display: inline-block;
}

.titulo:hover .exo-1 {
  background-color: #0000005b;
  color: rgb(4, 255, 0);
  text-shadow: #fff 0 0 1px, #fcffbb 0 0 80px;
  transition: transform 1s cubic-bezier(1, 3, 1, 3), text-shadow 1s ease-out;
  box-shadow: 5px 5px 40px black;
}


nav {
  display: flex;
  flex-direction: row;
  z-index: 8;
  text-align: center;
  height: 0;
  position: fixed;
  top: 90px;
  
}
.menu{
  display: flex;
  flex-direction: row;
}

.submenu_prod ul{
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: hwb(0 0% 100% / 0.367);
  transition: all 3s ease;
  margin-top: -0.5vh;
  margin-left: 1vw;
  border-radius: 18px;
}

.menu ul {
  list-style: none;
  padding: 0;
  /*margin: 0;*/
  position: absolute;
  width: 0px;
}
/**/
.menu a{
  width: 30%;
}

.submenu_prod li {
  width: 300px;
  padding: 0px;
}

.menu li:hover.submenu_prod ul{
  display: flex;
}

/**/
.menu li {
  display: inline-block;
  margin: 0 10px;
  box-sizing: border-box;
}

.menu a {
  font-family: sans-serif;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  background-color: #f5f5f5;
  opacity: 0.6;
  display: block;
  min-width: 110px;
}
.menu a:hover {
  background-color: #f5f5f5;
  color: #007bff;
}
.menu a.active {
  background-color: #007bff;
  color: #fff;
}
.titulo {
  border-radius: 10% 10% 10% 10%;
  padding: 5vh;
  text-align: center;
}
.slides {
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  min-height: 200px;
}

.material-symbols-outlined:hover .menu{
    visibility: visible;

  }
  .hamburger{
    visibility: hidden;
    position: absolute;
    top: 15px;
    left: 15px;
    filter: drop-shadow(0px 0px 12px #ffffff)
  }
@media (min-width: 1024px)  {
  .exo-1{
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .hamburger{
    visibility: visible;
    
  }
  .slides{
    top:0px;
  }
   .menu{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;
   }
   .menu a{
    padding: auto;
    font-size: 8px;
   }
   .submenu_prod ul{
    display: none;
    position: absolute;
    background-color: hwb(60 95% 4% / 0.6);
    transition: all 3s ease;
    margin-left: 99px;
    margin-top: -28px;
  }
 }
 

.boxvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vw;
  text-align: center;
  text-shadow: #5bd255 2px 2px;
}

/*

.slides{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
*/

/*

#section1 {
  background-color: #eefcad;
}

#section2 {
  background-color: #c7f672;
}

#section3 {
  background-color: #68cb8a;
}

#section4 {
  background-color: #2c115e;
}

#section5 {
  background-color: #50318f;
}


.col1 {
  background-color: #eefcad;
}
.col2 {
  background-color: #c7f672;
}
.col3 {
  background-color: #68cb8a;
}
.col4 {
  background-color: #2c115e;
}
.col5 {
  background-color: #50318f;
}
.col6 {
  background-color: #5e6aa6;
}
*/
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#presentacion {
  position: relative;
  top: 100px;
}
.slides section{
  width: 100%;
  height: auto;
}
#Contenido1 {
  background: linear-gradient(#f3defc, #63a3e6);
  background-image: url("../recursos/Img/375594-Longitude_Exterior_2019_02-c42cc7-original-1610392719.png");
}

#contenido2 {
  background: linear-gradient(#d2fcad, #22eaeb);
}

#contenido3 {
  background: linear-gradient(#f0bed4, #a163f5);
}

#contacto {
  background: linear-gradient(#65cce1, #6365ec);
}

#pie {
  background: black;
  height: 50%;
}

section > span {
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.PIE {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-family: sans-serif;
  text-transform: uppercase;
  color: yellow;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

body.slider__body {
  margin: 0;
  padding: 0;
}

.slider__container {
  position: fixed;
  /*display: block;*/
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

.slider__page {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__indicators {
  position: fixed;
  left: 18px;
  top: 50%;
  z-index: 2;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.slider__indicator {
  /*display: block;*/
  width: 10px;
  height: 10px;
  margin: 10px 0;
  border-radius: 100px;
  background-color: #fff;
  cursor: default;
}
.slider__indicator--active {
  opacity: 0.3;
}


footer {
  
  background-color: #230956;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
  /*display: block;*/
  /* Para que los enlaces estén uno debajo del otro */
  margin-bottom: 10px;
  /* Espacio entre los enlaces */
}

footer a:hover {
  text-decoration: underline;
}


.contact-info {
  text-align: left;
  /* Alineación a la izquierda */
}


.sections {
    display: flex;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    flex-wrap: nowrap;

}


.mi_lista {
list-style-type: none;
margin: 50px;
padding: 0;
display: flex;
flex-direction: column;
justify-content: center;    
text-align: center;
}
.flex-box{
  display: flex; /* Alinea las secciones una al lado de la otra */
  font-family: sans-serif;
  font-weight: bold;
}
.pie1{
  z-index: 5;
}
.pie1 h3{
  text-align: center;
}
.Map{
  width: 400px;
  height: 200px;
}
