@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


body {
  font-family: "Open Sans";
}

#nav-checkbox,
.nav-toggle {
  display: none;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("./../Images/Productos.png") no-repeat fixed bottom / cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  color: #fff;
  font-size: 60px;
  line-height: 1;
}

.hero h3 {
  color: #fff;
  font-size: 26px;
  font-weight: normal;
  margin: 15px 0;
}

.hero a {
  background: #cc0000;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 10px;
}

.hero a:hover {
  background: #c00101;
}

.content {
  width: 100%;
}

.content p {
  line-height: 1.6;
  margin-bottom: 25px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  transition: background-color 0.5s ease;
}

.logo h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

.nav-menu li {
  display: inline-block;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 15px;
}

.nav-menu li a:hover {
  color: #cc0000;
}

.active {
  background: #cc0000;
}

.active a:hover {
  color: #fff important;
}

@media only screen and (max-width: 600px) {
  header {
    display: block;
  }

  .logo {
    margin-left: 15px;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    cursor: pointer;
    margin: 0 1rem;
    top: 25px;
    right: 0;
  }

  .nav-toggle img {
    width: 25px;
  }

  .close,
  input[type='checkbox'] {
    display: none;
  }

  #nav-checkbox:Checked~.nav-menu {
    background: #cc0000;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #fff;
  }

  .nav-menu li {
    display: none;
    margin: 10px 0;
  }

  #nav-checkbox:checked~ul.nav-menu li {
    display: block;
  }

  #nav-checkbox:checked~label.nav-toggle .open {
    display: none;
  }

  #nav-checkbox:checked~label.nav-toggle .close {
    display: block;
  }

  .hero h1{
    font-size: 46px;
  }

  .hero h3{
    font-size: 22px;
  }
}