@charset "utf-8";

root{
	font-size: 16px;
	overflow: hidden;
}

body {
	font-size: 100%;
}

.header-site {
	display: flex;
	width: 100%;
	height: 10vh;
	background-repeat: repeat-x;
	background-color: #fff;
	margin: 0;
	float: left
}
.logo {
	max-width: 40%;
	max-height: 100%;
  display: inline-flex;
	align-items:end;
  justify-content:end;
}

.logo > logotipo {
	display: flex;
  max-width: auto;
  max-height: 100%;
}

.logo img {
  float: left;
  height: 80%;
  max-height: 10vh;
  object-fit: contain;
}

.breadcrumbs {
  height: 20%;
  color: #000000;
  font-size: 1.5rem;
  font-weight: normal;
  float: left;
  padding-left: 2vw;
	padding-bottom: 10%;
}

.header-top {
	width: 40%;
	height: 100%
}

.menutop-container {
	width: 100%;
	height: 50%
}

.menunav-container {
	width: 100%;
	height: 50%
}

.login {
	width: 20%;
	height: 100%;
	text-align: right;
	font-size: 12px;
	float: right;
	color: #fff;
	line-height: 22px;
	text-shadow: 1px 1px 3px #4a4a4a
}

.login a {
	color: #fff;
	font: size 1.17rem;
	text-decoration: none
}

.login a:hover {
	color: #d1d2d2;
	font-size: 1.17rem;
	text-decoration: none
}

.wrapper {
	display: flex;
	margin-top: 3%;
	height: 77%;
	width: 100%
}

#izquierda {
	width: 18%
}

.overlay .closebtn {
  margin-top: 10%;
  float: right;
  font-size: 2rem;
}

.overlay {
  max-height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10vh;
  left: 0;
  background-color: rgb(49, 49, 170);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  max-width: 100%;
	max-height: 100%;
  padding-top: 20%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 0.6em;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


@media screen and (max-height: 450vh) {
  .overlay a {font-size: 1em}
  .overlay .closebtn {
  font-size: 2em;
  top: 2vh;
  right: 3.5 vw;
  }
}

.TopNav li {
	float:none;
}

.TopNav li a:hover {
	background-color: #111
}

#carouselProductos {
	width: 80%;
	height: 100%
}

#derecha {
	width: 2%
}

.SubPro a {
	color: rgb(197, 197, 24);
}

.container-Flex {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw
}

.footer-navlinks {
	padding-right: 5%;
	max-width: 180px;
	float: right
}

.footer-title {
	height: 2vh;
	font-size: 1em;
	font-weight: 700;
	color: #f8f8e5;
	margin-bottom: 1vh
}

.footer-container {
	width: 100%;
	background-color: #000;
	padding-bottom: 15px;
	clear: both
}

.footer {
	width: 100vw;
	padding: 20px 0;
	margin: auto;
	clear: both
}

.footer a {
	color: #fff;
	padding: 0 12px;
	text-decoration: none
}

.footer a:hover {
	color: #fff;
	padding: 0 12px
}

.footer-nav-container{
	margin-top: 5vh;
	display: inline-flex;
	height: 15vh;
}

.copyright{
	width: 40vw;
	float: left;
}

.footer-nav{
	width: 60vw;
	float: right;
}