@import url(./contact.css);

body,
html {
  height: 100%;
}

#presentacion {
  background: linear-gradient(225deg, #ffc27d, #ff8e93);
}

#nosotros {
  background: linear-gradient(#f3defc, #63a3e6);
}

#Productos {
  background: linear-gradient(#d2fcad, #22eaeb);
}

#Servicios {
  background: linear-gradient(#f0bed4, #a163f5);
}

#contacto {
  background: linear-gradient(#65cce1, #6365ec);
}


.slider__container {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

.slider__page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}


section .diapositiva{
  display: flex;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

section .flomen{
  display: flex;
  z-index: 2;
  position: absolute;
  top: 0;
  float: right;
}

.nav-menu li {
  display: inline-block;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 15px;
}

.nav-menu li a:hover {
  color: #cc0000;
}

section .diapositiva>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.fade-in-text {
  animation:fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
}

body.slider__body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav-checkbox:Checked~.nav-menu {
  background: #cc0000;
  margin-top: 0.625em;
  padding: 0.625em 0;
  border-top: 1px solid #fff;
}

#nav-checkbox:checked~ul.nav-menu li {
  display: block;
}


.slider__indicators {
  position: fixed;
  left: 1.125em;
  top: 50%;
  z-index: 2;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider__indicator {
  display: block;
  width: 0.625em;
  height: 0.625em;
  margin: 0.625em 0;
  border-radius: 100px;
  background-color: #fff;
  cursor: default;
}

.slider__indicator--active {
  opacity: 0.3;
}

#pie {
  display: flex;
	width:100vw;
	height: 100vh;
	background-color:#000000;
  align-items: end;
}

.footer-nav-container {
	display: flex;
  flex-direction: row;

	height: 10vh;
	width: 100vw;
	background-color: #073bb3;
	bottom: 0;
  z-index: 3;
}

.copyright {
	width: 30vw;
	font-size: 0.625em;
  font-weight: bold;
	text-align: center;
	color: yellow;
	float: left;
	margin: auto;
}

.footer-nav {
	width: 70vw;
	margin: auto;
}

.footer-navlinks {
	color:#ffffff;
}

.footer-navlinks>li {
  display: inline;
  padding-right:2.8125em;
	max-width:7.5em;
	float:right;
	font-size:0.6875em;
	color:#ffffff;
	line-height: 1em;
	margin: 0.3125em 0px;
}

.footer-navlinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 0.3125em;
}

.footer-navlinks a:hover {
	text-decoration:underline;
  color: yellow;
}

